.idea
.DS_Store
/.vscode
/test-results/
/logs/
go/src/tmp/
**/node_modules
certs/letsencrypt*
certs/._letsencrypt
certs/certbot.log
*.code-workspace
/bin/
/testbin/
/tmp/
.developer.sh
.developer.sh.*
.devmode.sh
coverage.txt
.modd.conf.*
ls-local.*
**/.terraform/* 
.local-otel-collector-config.yaml
.terraformrc
