# {{.Title}}

## Overview

{{.Overview}}

<!-- xxx tab "Containerized" xxx -->

#### Containerized

For containerized environments, see the Autodiscovery Integration Templates for guidance on applying the parameters below.

| Parameter            | Value                                  |
| -------------------- | -------------------------------------- |
| <INTEGRATION_NAME>   | {{.IntegrationName}}                   |
| <INIT_CONFIG>        | {{.InitConfig}}                        |
| <INSTANCE_CONFIG>    | {{.InstanceConfig}}                    |