apiVersion: v2
name: {{.Name}}
description: {{.Description}}

type: {{.Application}}

version: {{.Version}}

appVersion: {{.AppVersion}}
---

machines:
{{- range .Machines }}
  - name: {{ .Name }}
    listenURL: {{ .ListenURL }}
    peerURL: {{ .PeerURL }}
    listenPort: {{ .ListenPort }}
    advertisePort: {{ .AdvertisePort }}
    seed: "{{ .Seed }}"
{{- end }}


