receivers:
{{- range . }}
  {{ .Name }}:
    endpoint: {{ .Endpoint }}
    username: {{ .Username }}
    password: {{ .Password }}
    collection_interval: {{ .CollectionInterval }}
{{- end }}

exporters:
  otlp:
    endpoint: ingest.lightstep.com:443
    headers:
      "lightstep-access-token": "${LS_ACCESS_TOKEN}"

processors:
  batch:

service:
  pipelines:
    metrics:
      receivers: [{{ range . }}{{ .Name }}, {{ end }}]
      processors: [batch]
      exporters: [logging, otlp]