terraform {
  required_providers {
    lightstep = {
      source  = "lightstep/lightstep"
      version = "~> 1.70.10"
    }
  }
  required_version = ">= v1.0.11"
}

resource "lightstep_dashboard" "otel_collector_activemq_dashboard" {
  project_name          = "{{.Resource.LightstepDashboard.OtelCollectorDashboard.ProjectName}}"
  dashboard_name        = "{{.Resource.LightstepDashboard.OtelCollectorDashboard.DashboardName}}"
  dashboard_description = "{{.Resource.LightstepDashboard.OtelCollectorDashboard.DashboardDescription}}"

  {{range .Resource.LightstepDashboard.OtelCollectorDashboard.Chart}}
  chart {
    name = "{{.Name}}"
    rank = "{{.Rank}}"
    type = "{{.Type}}"

    {{range .Query}}
    query {
      query_name   = "{{.QueryName}}"
      display      = "{{.Display}}"
      hidden       = {{.Hidden}}
      query_string = "{{.QueryString}}"
    }
    {{end}}
  }
  {{end}}
}