services:
  {{.Service.Name}}:
    container_name: {{.Service.Container}}
    image: {{.Service.Image}}
    command: {{range .Service.Command}} "{{.}}"{{end}}
    networks: {{range .Service.Networks}} "{{.}}"{{end}}
  otel-collector:
    container_name: otel-collector
    image: otel/opentelemetry-collector-contrib:{{.Collector.Version}}
    environment:
      LS_ACCESS_TOKEN: {{.Collector.EnvVar}}
    command: {{range .Collector.Command}} "{{.}}"{{end}}
    networks: {{range .Collector.Networks}} "{{.}}"{{end}}
