terraform {
  required_providers {
    lightstep = {
      source  = "lightstep/lightstep"
      version = "~> 1.60.2"
    }
  }
  required_version = ">= v1.0.11"
}

resource "lightstep_metric_condition" "activemq_queue_size" {
  project_name = "{{.Resource.LightstepMetricCondition.LightstepAlerts.ProjectName}}"
  name         = "{{.Resource.LightstepMetricCondition.LightstepAlerts.Name}}"

  expression {
    evaluation_window   = "{{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.EvaluationWindow}}"
    evaluation_criteria = "{{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.EvaluationCriteria}}"
    is_multi            = {{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.IsMulti}}
    operand             = "{{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.Operand}}"
    thresholds {
      warning  = {{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.Thresholds.Warning}}
      critical = {{.Resource.LightstepMetricCondition.LightstepAlerts.Expression.Thresholds.Critical}}
    }
  }

  metric_query {
    metric              = "{{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.Metric}}"
    query_name          = "{{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.QueryName}}"
    timeseries_operator = "{{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.TimeseriesOperator}}"
    hidden              = {{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.Hidden}}
    display             = "{{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.Display}}"

    group_by {
      aggregation_method = "{{.Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.GroupBy.AggregationMethod}}"
      keys               = ["{{index .Resource.LightstepMetricCondition.LightstepAlerts.MetricQuery.GroupBy.Keys 0}}"]
    }
  }
}